name: Acceptance tests

on:
  - pull_request

jobs:
  accept:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14, macos-latest]
        include:
          - os: ubuntu-latest
            devel: ""
          - os: macos-14
            devel: "/Applications/Xcode_15.4.app/Contents/Developer"
          - os: macos-latest
            devel: "/Applications/Xcode_16.4.app/Contents/Developer"

    name: Acceptance test
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: deploy and rebuild
        env:
          # needed for macos
          DEVELOPER_DIR: ${{ matrix.devel }}
        run: |
          ./bin/deploy
          . bin/envconfig
          rebuild base
